
.advantages {
	margin-top: 50px;
}

.left-column {
	float: left;
}

.right-column {
	float: right;
}

.left-column, .right-column {
	width: 315px;
}
.services {
	text-align: center;
}

.service-header {
	line-height: 24px;
}
.well {
	background-color: white;
	box-shadow: 3px 3px 3px gray;
	padding: 0 15px 15px;
	font-size: 16px;
}
.individual-services {
	height: 321px;
}

.special-services {
	height: 233px;
}

.corporate-services {
	height: 600px;
}

.corporate-services .service {
	margin-bottom: 12px;
}

.service {
	padding-top: 15px;
	text-align: left;
}

	.service:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	.service-action {
		color: #ed1d24;
	}
	.service-img {
		float: left;

	}
	.service-text {
		margin-left: 40px;
	}

	.service-text a {
		color: #4a4a4a;
		text-decoration: none;
	}

		.service-text ul {
			list-style-type: none;
			padding-left: 0;
			font-size: 14px;
		}
		.service-text ul li {
			list-style-image: none;

		}

		.service-text li:before { 
			content: "- ";
		}

.calculator-arrow {
	margin: 5px 0;
	background: url('../../images/main/calculator-arrow.png') no-repeat center center;
	height: 58px;
}

.calculator-trigger {
	width: 260px;
	height: 100px;
	margin: 0 auto;
	background: url('../../images/main/calculator-bg.png') repeat-x;
	text-align: center;
	padding: 5px 25px;
}

	.calculator-trigger h2 {
		margin-top: 0;
		margin-bottom: 5px;
	}
	.calculator-trigger a {
		margin: auto;
		display: block;
		width: 89px;
		height: 27px;
		background: url('../../images/main/calculator-btn.png') no-repeat;
	}
