<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/templates.css">
</head>
<body>
	<div class="main-content">
	<div class="article-intro">
		<h2>Компания Helles Haus</h2>
		<p>Наша компания предоставляет уборку помещений по европейским стандартам. Специально обученные работники используют только профессиональное оборудование и предоставляют клиенту сервис высочайшего класса.</p>
		<h2>Наши преимущества</h2>
		<ul>
		<li>первое преимущество;</li>
		<li>второе преимущество;</li>
		<li>преимущество номер три;</li>
		<li>не забыть о четвёртом преимуществе;</li>
		<li>пара слов о пятом преимуществе;</li>
		<li>здесь идёт преимущество номер шесть;</li>
		<li>и, наконец-то, седьмое преимущество.</li>
		</ul>
		</div>
		<div class="article-main"> </div>
	</div>

</body>
</html>